.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.Text {
    color: var(--color);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 120px;
    text-align: center;
    line-height: 1.2;
}

.Button {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--color);
    text-decoration: none;

    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;

    width: 152px;
    height: 59px;
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: 30px;
    opacity: 1;
    backdrop-filter: var(--backdrop-filter);
    -webkit-backdrop-filter: var(--webkit-backdrop-filter);
}