.Main {
    display: flex;
    justify-content: center;
}

.Tabs {
    width: 400px;
    margin-top: 2vh;
    display: flex;
    justify-content: space-evenly;
}

.Icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: 0.5px solid #E8E8E8;
    background: rgba(255, 255, 255, 0.227);
    backdrop-filter: blur(30px) brightness(145%);
    -webkit-backdrop-filter: blur(30px) brightness(145%);
}