.MainContainer {
    position: relative;
}

.MusicContainer {
    position: absolute;
    bottom: 0;
    right: 0;
}

.SpeedDialContainer {
    position: fixed;
    top: 20px;
    left: 20px;
}

.NotebookContainer {
    margin-top: 20px;
}

.GPT {
    position: fixed;
    top: 10px; /* Adjust the top position as needed */
    right: 10px; /* Adjust the right position as needed */
  }