.MainContainer {
    position: relative;
}

.MusicContainer {
    position: absolute;
    bottom: 0;
    right: 0;
}

.SpeedDialContainer {
    position: fixed;
    top: 20px;
    left: 20px;
}

.NotebookContainer {
    margin-top: 20px;
}