.Circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #3498db;
  transition: transform 0.1s ease-out;
}

.Input {
  background: var(--background);

  box-shadow: var(--box-shadow);
  border: none;
  border-radius: 10px;
  opacity: 1;
  backdrop-filter: var(--backdrop-filter);
  -webkit-backdrop-filter: var(--webkit-backdrop-filter);

  width: 30rem;

  font-weight: bold;
}

.Circle.active {
  transform: scale(1.2);
}

.Microphone {
    margin-right: 30px;
    margin-bottom: 10px;
  }

.Button {
  margin-top: 20px;
}

.Audio {
  margin-top: 20px;
}

.Father {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.AudioPlayer {
  background: var(--background);

  width: 320px;
  height: 100px;

  margin-top: 50px;

  box-shadow: var(--box-shadow);
  border: none;
  border-radius: 30px;
  opacity: 1;
  backdrop-filter: var(--backdrop-filter);
  -webkit-backdrop-filter: var(--webkit-backdrop-filter);
  color: white;
}

.Mother {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

/* Volume and Seekbar controls */

.Input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background: white;
  border-radius: 5px;
  margin: 10px;
}

.Volume {
  margin-top: 6px;
}

.Input[type="range"]:focus {
  margin-left: 10px;
  outline: none;
}

.Input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-left: 10px;
  width: 15px;
  height: 15px;
  background: #333; /* Adjust color as needed */
  border-radius: 50%;
  cursor: pointer;
}
