.Father {
  background: var(--background);
  color: var(--color);
  padding: 20px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  opacity: 1;
}

.TableCell {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  white-space: normal;
}

.TableCell code {
  overflow-wrap: break-word; /* Разрешает перенос слов */
}

.CloseButton {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  border-radius: 10px;
  padding-left: 5px;
  height: 22px;
  padding-right: 5px;
  right: 0px;
  background: rgb(255 255 255 / 94%);
  backdrop-filter: var(--backdrop-filter);
  -webkit-backdrop-filter: var(--webkit-backdrop-filter);
  cursor: pointer;
  z-index: 100;
}

.CloseButton svg {
  color: black
}

@keyframes keyframes1 {
  0% {
    transform: rotate(-1deg);
    animation-timing-function: ease-in;
  }

  50% {
    transform: rotate(1.5deg);
    animation-timing-function: ease-out;
  }
}

@keyframes keyframes2 {
  0% {
    transform: rotate(1deg);
    animation-timing-function: ease-in;
  }

  50% {
    transform: rotate(-1.5deg);
    animation-timing-function: ease-out;
  }
}

.Shake {
  animation: keyframes1 0.4s ease-in-out infinite alternate,
    keyframes2 0.4s ease-in-out infinite alternate;
}
