.Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.List {
    width: 491px;
    height: 295px;
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: 30px;
    opacity: 1;
    backdrop-filter: var(--backdrop-filter);
    -webkit-backdrop-filter: var(--webkit-backdrop-filter);
}

.Choice {
    display: flex;
    align-items: center;
    background: var(--backgorund-choice);
    width: 100%;
    height: 20%;
    border-bottom: var(--border);
    border-radius: 30px 30px 0 0;
    opacity: 2;
}

.Font {
    margin-left: 7%;
    line-height: 0;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: var(--color)
}

.Father {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.MainRadio {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.Radio {
    margin-left: 200px;
    color: var(--color)
}

.Button {
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--color);
    text-decoration: none;

    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;

    width: 152px;
    height: 59px;
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: 30px;
    opacity: 1;
    backdrop-filter: var(--backdrop-filter);
    -webkit-backdrop-filter: var(--webkit-backdrop-filter);
    background: rgba(255, 255, 255, 0.23);
}