.Father {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Mother {
  background: var(--background);
  padding: 20px;

  margin: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 30px;
  opacity: 1;
  backdrop-filter: var(--backdrop-filter-special);
  -webkit-backdrop-filter: var(--webkit-backdrop-filter);
}

.Img {
  width: 100px;
  height: 100px;
}