@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: var(--background-main);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body .ql-toolbar {
  border: none !important; /* Убираем границу у .ql-toolbar глобально */
}

body .ql-container {
  border: none !important; /* Убираем границу у .ql-toolbar глобально */
}

body .ql-picker {
  color: white !important; /* Убираем границу у .ql-toolbar глобально */
}

body .ql-snow.ql-toolbar button:hover:not(.ql-active) .ql-fill,
.ql-snow .ql-toolbar button:hover:not(.ql-active) .ql-fill,
.ql-snow.ql-toolbar button:hover:not(.ql-active) .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:hover:not(.ql-active) .ql-stroke.ql-fill {
  fill: white !important; /* Убираем границу у .ql-toolbar глобально */
}

body .ql-snow.ql-toolbar button:hover:not(.ql-active) .ql-fill,
.ql-snow .ql-toolbar button:hover:not(.ql-active) .ql-fill,
.ql-snow.ql-toolbar button:hover:not(.ql-active) .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:hover:not(.ql-active) .ql-stroke.ql-fill {
  color: white !important; /* Убираем границу у .ql-toolbar глобально */
}

body .ql-snow.ql-toolbar button:hover:not(.ql-active) .ql-fill,
.ql-snow .ql-toolbar button:hover:not(.ql-active) .ql-fill,
.ql-snow.ql-toolbar button:hover:not(.ql-active) .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:hover:not(.ql-active) .ql-stroke.ql-fill {
  stroke: white !important; /* Убираем границу у .ql-toolbar глобально */
}

body .ql-snow .ql-stroke {
  stroke: white !important;
}

body .ql-snow .ql-stroke-miter {
  stroke: white !important;
}

body .ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
  fill: white !important;
}

body .ql-snow .ql-editor pre.ql-syntax {
  background-color: white !important;
}

body .ql-snow .ql-editor {
  margin-left: 5px;
  color: black !important;
}

body .ql-snow .ql-picker {
  color: white !important;
}

body .ql-snow .ql-color-picker.ql-color .ql-picker-item {
  background-color: white !important;
}

body .ql-toolbar.ql-snow .ql-color-picker .ql-picker-item.ql-selected,
.ql-toolbar.ql-snow .ql-color-picker .ql-picker-item:hover {
  border-color: white !important;
}

body .ql-snow .ql-tooltip {
  color: white !important;
}

html[data-theme="light"] {
  --background-main: transparent
    linear-gradient(118deg, #0061ff 0%, #60efff 100%) 0% 0% no-repeat
    padding-box;
  --backdrop-filter-special: blur(30px) brightness(55%);
  --box-shadow: 0px 3px 6px #00000029;
  --border: 0.5px solid #e8e8e8;
  --backdrop-filter: blur(30px) brightness(100%);
  --webkit-backdrop-filter: blur(30px) brightness(100%);
  --color: white;
  --background-special: rgba(0, 0, 0, 0.327);
  --background: rgba(255, 255, 255, 0.227);
  --background-modal: rgba(255, 255, 255, 0.344);
  --backgorund-choice: #ffffff2f;
  --background-color: rgba(255, 255, 255, 0);
}

svg[aria-hidden="true"][role="presentation"] path {
  stroke: #ffffff !important;
}

html[data-theme="dark"] {
  --background-main: transparent
    linear-gradient(118deg, #2a4378 0%, #103783 100%) 0% 0% no-repeat padding-box;
  --backdrop-filter-special: blur(30px) brightness(105%);
  --box-shadow: 0px 3px 6px #ffffff29;
  --border: 0.5px solid #636363;
  --backdrop-filter: blur(30px) brightness(100%);
  --webkit-backdrop-filter: blur(30px) brightness(100%);
  --color: rgb(255, 255, 255);
  --background-special: rgba(255, 255, 255, 0.227);
  --background: rgba(0, 0, 0, 0.327);
  --backgorund-choice: #0000002f;
  --background-color: rgba(0, 0, 0, 0);
}
