.Circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #3498db;
  transition: transform 0.1s ease-out;
}

.Input {
  background: var(--background);

  box-shadow: var(--box-shadow);
  border: none;
  border-radius: 10px;
  opacity: 1;
  backdrop-filter: var(--backdrop-filter);
  -webkit-backdrop-filter: var(--webkit-backdrop-filter);

  width: 30rem;

  font-weight: bold;
}

.Circle.active {
  transform: scale(1.2);
}

.Microphone {
    margin-right: 30px;
    margin-top: 10px;
  }

.Button {
  margin-top: 20px;
}

.Audio {
  margin-top: 20px;
}

.Father {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.AudioPlayer {
  background: var(--background);

  width: 320px;
  padding: 10px;

  box-shadow: var(--box-shadow);
  border: none;
  border-radius: 30px;
  opacity: 1;
  backdrop-filter: var(--backdrop-filter);
  -webkit-backdrop-filter: var(--webkit-backdrop-filter);
  color: white;
}

.Mother {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

/* Volume and Seekbar controls */

.Img {
  margin-left: 25px;
}

.Controls {
  margin-top: 8px;
}

.Input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background: white;
  border-radius: 5px;
  margin: 10px;
}

.Volume {
  margin-left: 25px;
  margin-top: 6px;
}

.Input[type="range"]:focus {
  margin-left: 10px;
  outline: none;
}

.Input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-left: 10px;
  width: 15px;
  height: 15px;
  background: #333; /* Adjust color as needed */
  border-radius: 50%;
  cursor: pointer;
}

.Title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 15px;
}

.EditMemoPage {
  position: relative;
  margin-top: 10px;
  margin-left: 45px;
}

.CloseButton {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  border-radius: 10px;
  padding-left: 5px;
  height: 22px;
  padding-right: 5px;
  right: 0px;
  background: rgba(255, 255, 255, 0.94);
  backdrop-filter: var(--backdrop-filter);
  -webkit-backdrop-filter: var(--webkit-backdrop-filter);
  cursor: pointer;
  z-index: 100;
}

@keyframes keyframes1 {
  0% {
    transform: rotate(-1deg);
    animation-timing-function: ease-in;
  }

  50% {
    transform: rotate(1.5deg);
    animation-timing-function: ease-out;
  }
}

@keyframes keyframes2 {
  0% {
    transform: rotate(1deg);
    animation-timing-function: ease-in;
  }

  50% {
    transform: rotate(-1.5deg);
    animation-timing-function: ease-out;
  }
}

.Shake {
  animation: keyframes1 0.4s ease-in-out infinite alternate,
    keyframes2 0.4s ease-in-out infinite alternate;
}
