.Photo {
  width: 200px; /* Подстройте это значение в соответствии с вашим дизайном */
  margin-bottom: 8px; /* Добавьте немного отступа между фотографиями */
  height: 200px; /* Задайте фиксированную высоту или оставьте ее автоматической */
  object-fit: cover;
  border-radius: 30px;
}