.Father {
    display: flex;
    justify-content: center;
}

.Main {
    margin-top: 6vh;
    width: 1000px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: 30px;
    opacity: 1;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    background: var(--background);
}

.LeftSwitches {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.CenterSwitches {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.RightSwitches {
    text-align: right;
    display: flex;
    flex-direction: column;
}