.Main {
  width: 270px;
  height: 100px;
  background: var(--background-special);

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 30px;
  opacity: 1;
  backdrop-filter: var(--backdrop-filter-special);
  -webkit-backdrop-filter: var(--webkit-backdrop-filter);
}

.Text {
  margin-left: 10px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  color: var(--color);
}

.Image {
  width: 40px;
  height: 40px;
}

.Modal {
  opacity: 1;
  height: 650px;
  width: 1000px;
  max-width: 100%;
  background: var(--background-modal);
  backdrop-filter: var(--backdrop-filter);
  -webkit-backdrop-filter: var(--webkit-backdrop-filter);
}

.Father {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Mother {
  background: var(--background);
  padding: 20px;

  margin: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 30px;
  opacity: 1;
  backdrop-filter: var(--backdrop-filter-special);
  -webkit-backdrop-filter: var(--webkit-backdrop-filter);
}

.Img {
  width: 100px;
  height: 100px;
}

.Input {
  font-weight: bold;
  padding-bottom: 20px;
}

.Icon {
  width: 45px;
  height: 50px;
}

.Scroll {
  max-height: 510px;
  overflow-y: scroll;
}

.ScrollableTable {
  margin-left: 35px;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  overflow: hidden; /* Добавьте этот стиль */
}

.TableCell {
  margin: 10px;
  display: flex;
  flex: 0 0 20%; /* Устанавливаем ширину ячейки так, чтобы было 4 элемента в строке */
  box-sizing: border-box;
  padding: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;

  width: auto;
  height: auto;
  background: var(--background);

  border-radius: 30px;
  opacity: 1;
  backdrop-filter: var(--backdrop-filter);
  -webkit-backdrop-filter: var(--webkit-backdrop-filter);
}

/* Добавьте стили по вашему усмотрению для изображения и текста */
.TableCell img {
  padding-right: 10px;
  max-width: 100%;
  height: auto;
}

.TableCell p {
  color: white;
}

.Photo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 144px;
  height: 163px;
  object-fit: cover;
}

.Box {
  position: relative;
  overflow: hidden;
  width: 166px;
  height: 164px;
}

.Desc {
  font-weight: bold;
  font-size: medium;
}

.CloseButton {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -5px;
  border-radius: 10px;
  padding-left: 5px;
  height: 22px;
  padding-right: 5px;
  right: 0px;
  background: rgb(187 187 187 / 94%);;
  backdrop-filter: var(--backdrop-filter);
  -webkit-backdrop-filter: var(--webkit-backdrop-filter);
  cursor: pointer;
}

.Container {
  display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

@keyframes keyframes1 {
  0% {
    transform: rotate(-1deg);
    animation-timing-function: ease-in;
  }

  50% {
    transform: rotate(1.5deg);
    animation-timing-function: ease-out;
  }
}

@keyframes keyframes2 {
  0% {
    transform: rotate(1deg);
    animation-timing-function: ease-in;
  }

  50% {
    transform: rotate(-1.5deg);
    animation-timing-function: ease-out;
  }
}

.Shake {
  animation: keyframes1 0.4s ease-in-out infinite alternate,
    keyframes2 0.4s ease-in-out infinite alternate;
}
