.Main {
    display: flex;
    justify-content: center;
}

.Icon {
    margin-left: 1vw;
}

.Input {
    margin-left: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%; /* Set an initial smaller width */
    transition: width 0.3s ease; /* Add transition property */
    background-color: var(--background-color);
}

.Input:focus {
    width: 100%; /* Expand to 100% on focus */
}

.Search {
    display: flex;
    align-items: center;

    color: white;
    text-decoration: none;

    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;

    margin-top: 35vh;
    width: 250px; /* Initial width of the search container */
    transition: width 0.3s ease; /* Add transition property */
    height: 60px;
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: 30px;
    opacity: 1;
    background: var(--background);
    backdrop-filter: var(--backdrop-filter);
    -webkit-backdrop-filter: var(--webkit-backdrop-filter);
}

.Search:focus-within {
    width: 400px; /* Expand to 100% on focus */
}

.Tabs {
    margin-top: 2vh;
    display: flex;
    justify-content: space-evenly;
}

.Icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: var(--border);
    background: var(--background);
    backdrop-filter: var(--backdrop-filter);
    -webkit-backdrop-filter: var(--webkit-backdrop-filter);
}

.Web {
    width: 50px;
    height: 50px;
}